<div class="jo-link">
  <%= link_to "Add CO ", '#' %> |
  <%= link_to 'Uncollect', '#' %> |
  <%= link_to "Recieved", '#' %> |
  <%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %> 

</div>
<h1>Collection</h1>
<p>Loading. . .</p>
