<div class="jo-link">
  <%= link_to "Add CO ", new_job_path %> |
  <%= link_to 'Uncollect', jobs_path %> |
  <%= link_to "Recieved", accomplished_jobs_path %> |
  <%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %> |
  <h5>v.3.0.3</h5>
</div>
<h1>Collection</h1>
<p>Loading. . .</p>
