<div class="jo-link">
  <%= link_to "Add DR ", '#' %> |
  <%= link_to 'On Delivery', '#' %> |
  <%= link_to "Recieved ", '#' %> |
  <%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %> 

</div>
<h1>Delivery Receipt</h1>

<p>Loading. . .</p>
