<div id="link">
  <%= link_to "Add SO ", '#' %> |
  <%= link_to 'Sales List', '#' %> |
  <%= link_to "Sales Close ", '#' %> |
  <%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %> 
</div>
<h1>Sales Order</h1>

<p>Loading. . .</p>
