<div class="jo-link">
  <%= link_to "Add TR ", '#' %> |
  <%= link_to 'Training Schedule', '#' %> |
  <%= link_to "Finished ", '#' %> |
  <%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %> |
  <h5>v.3.0.3</h5>
</div>
<h1>Training Call</h1>
<p>Loading. . .</p>
