<style type="text/css" media="print">
 #noprint {display: none;} 
       // Hide unwanted elements
 body {background:fff; color:000;} 
       // Black text on White background
 a {text-decoration: underline; color:00f;} 
       //Underline Hyperlinks in blue
}
</style>
<span class="noprint">
<header>
       
        <nav class="round">
          <ul>
            <li><%= link_to 'JO List', jobs_path %></li>
            <li><%= link_to "Job Order ", new_job_path %></li>
            <li><%= link_to "Accomplished ", accomplished_jobs_path %></li>
            <li><%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %></li>
          </ul>
        </nav>
</header>
</span>
