<header>
       
        <nav class="round">
          <ul>
            <li><%= link_to 'JO List', jobs_path %></li>
            <li><%= link_to "Job Order ", new_job_path %></li>
            <li><%= link_to "Accomplished ",  '#' %></li>
            <li><%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %></li>
          </ul>
        </nav>
</header>
