<!DOCTYPE html>
<html>
<head>
  <title>ASI-MONITORING SYSTEM</title>
  <%= render 'layouts/stylesheets' %>
</head>
<body>
  <div class="container">
   
      <section class="round">
        <div class="signout">
          
          
          
        </div>
        
        <h5>v.4.0.2</h5>
        <%= yield %>
      </section>
  
    </div>

</body>
</html>
